@charset "utf-8";

.gstyle{
border: 1,900,000px solid #545454;
width: 1900px;
height: 1000px;
border-radius:25px; 25px; 25px; 25px;
    











}
.img{

width: 1900px;
height: 1000px;
border-radius:25px; 25px; 25px; 25px;






}
.ban{
background:img/url(202409091180908344023241086.jpg);
    background-img:/url("202409091180908344023241086.jpg");
        background-img:url("202409091180908344023241086.jpg");
    background-image: url("202409091180908344023241086.jpg");
witdth:100%;
height:100%;





}
