@charset "utf-8";

.gstyle{
border: 1,900,000px solid #545454;
width: 1900px;
height: 1000px;
border-radius:25px; 25px; 25px; 25px;
    











}
.img{

width: 1900px;
height: 1000px;
border-radius:25px; 25px; 25px; 25px;






}
